.header {
  height: 125px;
  background: linear-gradient(90deg, #13C1B7 0%, #87DFA8 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
}

.logo {
  margin-left: 35px;
}

.menu {
  margin-right: 35px;
}

#fortune-wheel-title {
  /* width: 800px; */
  margin: 20px 0;
  font-size: 32px;
  font-weight: bolder;

  white-space: nowrap;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.container-style {
  padding: 50px;
}

.interactive_tool_title {
  margin: 20px 50px;
  color: #626262;
  font-family: Roboto;
  font-size: 48px;
}

.interactive_btn {
  padding: 15px 30px;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  display: flex;
  background-color: black;
  color: white;

}


.box {
  /* height: 350px; */
  height: 250px;
  padding: 30px;

  /* to make the text show on center */
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  /* font-size: 36px; */
  font-size: 28px;
}

/* formatting for spin wheel tool tab */
.contentholder {
  width: 100%;
  min-height: 150px !important;
  padding: 10px 20px;
}

.tab-content {
  border: 1px solid #dee2e6;
  background: whitesmoke;
  padding: 30px;
  margin: 0 0 30px;
  ;
}

.fortune_wheel_card {
  border: none;
}

/* formatting for spin wheel tool tab */

/* for shuffle and sort */
#roulette_action_btn button {
  background-color: #959595;
  width: 50%;
  border-radius: 5px;
  margin: 0 10px;

}

#roulette_action_btn {
  margin: auto;
  margin: 0 0 20px;
}

#roulette_action_btn img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* for shuffle and sort */

/* formatting for input file */
.input_container {
  border: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
}

/* formatting for input file */

/* formatting for help feature */
#help-button {
  margin: 10px 0;
  text-decoration: underline;
}

#help-button:hover {
  color: blue;
  border: none;
}

#usage-instructions {
  border: 1px solid black;
  padding: 10px;
  display: none;
}

.save-btn-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: end;
}

#save-wheel-button {
  padding: 10px 30px;
}







/* for index */
.lecturer-index-body {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.search-container label {
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 12px;
  border: 1px solid #CFD5DB;
  border-radius: 5px;
  background: #fafafa;
  padding: 12px;
  color: #6C757D;
  cursor: text;
  align-items: center;
  width: 250px;

}

.search-container label:focus-within {
  border: 1px solid #000;
}

.search-container label>input {
  outline: none;
  border: none;
  background: transparent;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  gap: 10px;
}

.search-top-container {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.edit-delete-btn {
  margin: 3px;
  padding: 10px;
}

.lecturer-index-table-container p:last-child {
  text-align: center;
  font-size: 24px;
  color: #b0b0b0;
  margin: 30px;
}