body{
    /* background: linear-gradient(90deg, #00C6FF 0%, #0082FF 80.73%, #0072FF 100%); */
    background: #252525;
}

.join-quiz-bg{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 30px;
    border: 3px solid #2A2A2A;
    background: #FEFEFE;
    box-shadow: 15px 20px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 40px;
}
.join-quiz-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

.join-quiz-details{
    border-left: 3px solid black;
}

.join-quiz-bar{
    display:none;
}

.join-quiz-details-username{
    font-size: 24px;
}

.join-quiz-details-instruction{
    margin-top: 10px;
    font-size: 14px;
}

.join-quiz-details-input{
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    background: #FFF;
    font-size: 22px;
}

.input-fails-text{
    color: red;
    text-align: start;
    display: block;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.button-style{
    font-size: 16px;
    padding: 10px 40px;
    display: flex;
}

.joined-participants-text{
    color: #FFF;
    font-size: 24px;
}

.joined-participants-people-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.joined-participants-people{
    border-radius: 10px;
    background: var(--Button, #4b4b4b);
    padding: 15px 40px;
    color: #FEFEFE;
    margin: 20px;
    display: inline-block;
}

    .joined-participants-people:hover{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.wait-start-screen{
    text-align: center;
}

.wait-start-screen p{
    /* font-size: 48px; */
    font-size: 5vw;
    margin: 30px;
}


/* loading page style */
#loading-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16vw;
    font-weight: bold;
    color: white;
    text-align: center;
    animation: changeBackgroundColor 3s infinite;
    width: 100%;
    height: 100%;
}

.scale-enter-active {
    animation: scale 1s ease;
}

@keyframes scale {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes changeBackgroundColor {
    0% {
        background-color: rgb(0, 0, 0);
    }

    33% {
        background-color: #343434;
    }

    66% {
        background-color: #626262;
    }

    100% {
        background-color: #b9b9b9;
    }
}


/* actual play quiz style */
.header-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252525;
    color: white;
    padding: 30px;
    flex-wrap: wrap;
}


.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #252525;
    width: 100%;

}

.play-quiz-body{
    background: #252525;
}

.header-small-block-style {
    border-radius: 10px;
    background: #55677B;
    display: block;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
}

.header-quiz-title {
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin-right:110px;
}

.header-time-remaining {
    color: white;
    font-size: 24px;
    display: inline-flex;
    margin-right:10px;


}

.progress {
    border-radius: 0px;
}

.progress-bar {
    transition: width 0.5s ease;
}

#quiz-title-container {
    background-color: whitesmoke;
    text-align: center;
    padding: 110px 0;
    font-size: 32px;
    font-weight: bolder;
}


#quiz-options-container {
    margin-top: 40px;
}


#quiz-previous-btn,
#quiz-next-btn {
    display: inline-block;
    margin: 30px 15px;
    padding: 20px 20px;
    font-size: 30px;
    color: #FAFAFF;
    border-radius: 10px;
    background: var(--Button, #2A2A2A);
    transition: background-color 0.25s;
}

#nextPreviousbtn-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

#quiz-previous-btn:hover,
#quiz-next-btn:hover {
    background: #55677B;
    cursor: pointer;
}

.previous-next-btn-disable{
    background: #55677B;
    pointer-events: none;
}

.quiz-btn-inactive {
    background: #a0b0bb;
}

.submit-button-container {
display: flex;
justify-content: center;
margin-top: 30px;
}

.button-style{
font-size: 16px;
padding: 10px 40px;
display: flex;
background: var(--Button, #0179FF);
border:none;
}


/* leaderboard */
.leaderboard-container{
    width: 80%;
    padding: 20px 10px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid black;
    
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    border-bottom: none;
    background:white;
}

table{
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 0 5px;
}
thead {
    background: #232946;
    color: white;
    font-size: 18px;
}

tbody tr {
    background: #01BCFF;
    color: white;
    font-size: 16px;
    
}

tbody tr:hover {
    background: #0179FF;
    color: white;
    font-size: 16px;
}


table th:nth-child(1) {
    text-align: center;
}

table th:nth-child(3) {
    text-align: center;
}
table td:nth-child(3) {
    text-align: center;
}

th,td{
    padding: 15px;
    word-break: break-all;
}

/* explaination page */
#answer-explaination-container {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    min-height: 250px;
}

/* leaderboard page */
.highlighted-row {
    background-color: #0195ff;
}

/* quiz type - mcq/truefalse style */
#mcq-question-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

#truefalse-container {
    margin: auto;
    justify-content: center;
}

.format-option {
    border-radius: 10px;
    background-color: #0195ff;
    margin: 20px;
    padding: 40px 20px;
    font-size: 20px;
    /* for text */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.25s, background-color 0.5s;
}

.format-option:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #00c6ff;
    cursor: pointer;
}

.format-option-selected {
    border: 5px solid #232946;
    background-color: #00c6ff;
}

.option-correct {
    background: #76c893;
}

.option-incorrect {
    background: #ac4d58;
}

.option-not-selected {
    background: #ccc;
}


.format-option:not(.format-option-selected):not(.option-correct):not(
        .option-incorrect
    ):not(.option-not-selected):hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #00c6ff;
    cursor: pointer;
}

/* quiz type - text input style */
.text-input-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
}

.text-input-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text-input {
    width: 45px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: #d7d7d7;
    font-size: 20px;
}

.text-input-correct {
    border: 3px solid #000;
    background: #76c893;
    pointer-events: none;
}

.text-input-incorrect {
    border: 3px solid #000;
    background: #ac4d58;
    pointer-events: none;
}


/* closure */
.closure-container-bg {
    background-image:url("/public/img/quiz-closure-awards.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 500px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.closure-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
}

.closure-title {
    color: white;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    /* font-size: 58px; */
    font-size: 8vw;
    font-weight: bold;
}
.closure-description {
    color: white;
    font-weight: 300;
    /* font-size: 32px; */
    font-size: 4vw;
    margin-bottom: 10px;
}

.text-white{
    margin-top: 10px;
}

/* overall bg */
.closure-body {
    background: #252525;
    /* background: linear-gradient(
        90deg,
        #00c6ff 0%,
        #0082ff 80.73%,
        #0072ff 100%
    ); */
}

@media (max-width: 767px){
    .join-quiz-details{
        border: none;
    }
    
    .join-quiz-bar
    {
        display:block;
        background-color: black;
        max-width:250px;
        margin:auto;
        height:3px;
    }
    
    .join-quiz-bg{
        margin:50px;
        padding: 0;
        max-width:450px;
    }
    
    .container{
        width:auto;
        height:auto;
    }
    
    .logo{
        width:30vw;
    }
    
    span.header-quiz-title{
        font-size: 18pt;
        margin-right:0;
    }
    
    .join-quiz-title{
        font-size: 15pt;
    
    }
    .join-quiz-details-username{
        font-size: 13pt;
    }
    .join-quiz-details-input::placeholder{
        font-size: 12pt;
    }

    .join-quiz-details-input{
        font-size: 12pt;
    }

    .join-quiz-details-instruction{
        font-size:8pt;
    }
    .button-style{
    font-size: 14px;
    padding: 8px 20px;
    }

    .joined-participants-text{
        font-size: 14pt;
    }
 
    .header-small-block-style {
        background: #606060;
        padding: 5px 15px;
        font-size: 12px;
        margin-top:5px;
        margin-bottom:15px;
        margin-right:15px;
    }

    .header-quiz-title{
        font-size: 15pt;
    }
    .header-time-remaining{
        font-size:15pt;
    }

    #quiz-title-container{
        font-size: 15pt;
    }

    .leaderboard-container h1{
        font-size: 15px;
    }
    
    thead {
        font-size: 10px;
    }
    
    tbody tr {
        font-size: 10px;
        
    }
    
    tbody tr:hover {
        font-size: 10px;
    }

    .format-option{
        padding: 15px 5px;
        font-size: 15px;
        margin:10px;
    }

    
.closure-title {
    color: white;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    /* font-size: 58px; */
    font-size: 8vw;
    font-weight: bold;
}
.closure-description {
    font-size: 16pt;
    margin-bottom: 10px;
}

.text-white{
    font-size: 10pt;
    margin-top: 10px;
}
.header-small-block-cont{
    margin-right:100px;
}

}